snippet des "describe" b
describe('${1}', () => {

	$0

});
endsnippet

snippet it "it" b
it('should ${1}', () => {

	expect(${2}).to.$0

});
endsnippet

snippet desi "describe it" b
describe('${1}', () => {

	it('should ${2}', () => {

		expect($1(${3})).to.$0

	});

});
endsnippet
snippet par "jsdoc param"
@param {$1} $2
endsnippet
