snippet useStyles "useStyles()"
const classes = useStyles();
endsnippet

snippet const "add const"
const $1 = $2;
endsnippet

snippet excon "ex con"
const $1 = $2;
endsnippet

snippet 75wrds "Log a 750words.com session" b
750words.com: ${1:750} words in ${2:20} minutes - `!p
def fraction(a, b):
    try:
        return "%.1f" % (float(a)/float(b))
    except (ValueError, ZeroDivisionError) as e:
        return e
snip.rv = fraction(t[1], t[2])
` wpm.
endsnippet
