snippet func "vim function" b
function! $1($2)
  $0
endfunction
endsnippet

snippet function "vim function" b
function! $1($2)
  $0
endfunction
endsnippet

snippet funcs "vim function" b
function! s:$1($2)
  $0
endfunction
endsnippet
